<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <link rel="stylesheet" type="text/css" href="addChore.css" />
    <body>
        <div id="top">
            <div id="header"> 
                <img class="logo"src="blue.jpg" />
                <h1>ROOMMATE APP</h1>
            </div>
            <div id="navBar">
                <u1>
                <li><a href="">Home</a></li>
                <li><a href="">Chores</a></li>
                <li><a href="">Bills</a></li>
                </u1>
            </div>
        </div>
        <div id="middle">
            <div id ="content">
                <div id="title">
                    <h2>Add a Bill</h2>
                </div> 
                <div id="forms">
                    <input class="companyForm" type="text" value="Company/Item" />
                    <input class="amountForm" type="text" value="Amount" />
                    <input class="peopleForm" type="text" value="People" />
                    <br><br>Split<input class="splitForm" type="checkbox" />
                    <br><br><input class="paidByForm" type="text" value="Paid by" />
                    <br><br>Recurring<input class="recurringForm" type="checkbox" />
                    <br><br>
                </div>
                <div id="buttons">
                    <button class="addButton" type="button">Add</button>
                    <button class="updateButton" type="button">Update</button>
                </div>

            </div>
        </div>
        <div id="bottom">
            <div id ="aboutUs">
                <u1>
                <li><a href="">aboutUs</a></li>
                <li><a href="">Careers</a></li>
                <li><a href="">Location</a></li>
                </u1>
            </div>
        </div>

    </body>
</html>
