<html lang="en">
  <head>
    <link rel="icon" type="image/png" href="images/rails.png" />
    <title>Roommate App</title>
    <%= stylesheet_link_tag "basic","scaffold"%>
    <%= javascript_include_tag "application","controls","dragdrop","effects","protofish-min","prototype" %>
  </head>

  <body>
    <%= yield %>
  </body>

</html>

